*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}


.mouse,.icon{
    transition: .4s;
    color: white;
}
.mouse:hover,.icon:hover{
    color: rgb(187, 187, 187);
    transform: translateY(-1.3px);
}
