#modal-input{
    background-color: white;
    color: rgb(75, 75, 75);
    width: 97%;
    border: none;
    margin-left: 0;
    outline: none;
    text-decoration: wavy;
    font-size: small;
    resize:none;
    overflow:none;
    border-radius: 4px;
    border: .4px dashed black;
    padding: 6px;
}